.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;

    margin-right: 93px;
}

.logo__web {
    color: var(--accent-colour)
}


.logo--inverse {
    color: var(--second-title-color);
}